[*.cs]

# SA1502: Element should not be on a single line
dotnet_diagnostic.SA1502.severity = none

# IDE0022: Usar cuerpo de bloques para los métodos
csharp_style_expression_bodied_methods = false:silent

# CA1822: Marcar miembros como static
dotnet_diagnostic.CA1822.severity = silent

# SA1618: Generic type parameters should be documented
dotnet_diagnostic.SA1618.severity = none

# CA1710: Los identificadores deben tener un sufijo correcto
dotnet_diagnostic.CA1710.severity = none

# CA1031: No capture tipos de excepción generales.
dotnet_diagnostic.CA1031.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none
