# top-most EditorConfig file
root = true

[*.cs]

# SA1642: Constructor summary documentation should begin with standard text
dotnet_diagnostic.SA1642.severity = silent

# CA2208: Crear instancias de las excepciones del argumento correctamente
dotnet_diagnostic.CA2208.severity = silent

# SA1110: Opening parenthesis or bracket should be on declaration line
dotnet_diagnostic.SA1110.severity = silent

# SA1115: Parameter should follow comma
dotnet_diagnostic.SA1115.severity = silent

# SA1009: Closing parenthesis should be spaced correctly
dotnet_diagnostic.SA1009.severity = silent

# SA1028: Code should not contain trailing whitespace
dotnet_diagnostic.SA1028.severity = silent

# SA1111: Closing parenthesis should be on line of last parameter
dotnet_diagnostic.SA1111.severity = silent

# SA1623: Property summary documentation should match accessors
dotnet_diagnostic.SA1623.severity = silent
